include README.md
include LICENSE.md
include pyproject.toml

recursive-include src/prometheus_cli/resources *.yaml *.json *.md *.txt

global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .venv*
global-exclude *.egg-info*
global-exclude node_modules
